In [1]:
import json
import numpy as np
import pandas as pd
import sqlalchemy as sa

In [5]:
df=pd.read_json(r'C:\Users\dudya\Downloads\pokedex.json')
df   ## Reading the JSON file into a Pandas DataFrame

                                               pokemon
0    {'id': 1, 'num': '001', 'name': 'Bulbasaur', '...
1    {'id': 2, 'num': '002', 'name': 'Ivysaur', 'im...
2    {'id': 3, 'num': '003', 'name': 'Venusaur', 'i...
3    {'id': 4, 'num': '004', 'name': 'Charmander', ...
4    {'id': 5, 'num': '005', 'name': 'Charmeleon', ...
..                                                 ...
146  {'id': 147, 'num': '147', 'name': 'Dratini', '...
147  {'id': 148, 'num': '148', 'name': 'Dragonair',...
148  {'id': 149, 'num': '149', 'name': 'Dragonite',...
149  {'id': 150, 'num': '150', 'name': 'Mewtwo', 'i...
150  {'id': 151, 'num': '151', 'name': 'Mew', 'img'...

[151 rows x 1 columns]

In [6]:
# Opening and reading the JSON file into a Python object
fObj = open(r'C:\Users\dudya\Downloads\pokedex.json')
jlist = json.load(fObj)
# Using pd.json_normalize to flatten the nested structure in the JSON
df = pd.json_normalize(jlist, record_path=['pokemon'])
df.head()

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution
0,1,001,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"[Grass, Poison]",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,0.690,69.0,20:00,[1.58],"[Fire, Ice, Flying, Psychic]","[{'num': '002', 'name': 'Ivysaur'}, {'num': '0...",NaN
1,2,002,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"[Grass, Poison]",0.99 m,13.0 kg,Bulbasaur Candy,100.0,Not in Eggs,0.042,4.2,07:00,"[1.2, 1.6]","[Fire, Ice, Flying, Psychic]","[{'num': '003', 'name': 'Venusaur'}]","[{'num': '001', 'name': 'Bulbasaur'}]"
2,3,003,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"[Grass, Poison]",2.01 m,100.0 kg,Bulbasaur Candy,NaN,Not in Eggs,0.017,1.7,11:30,None,"[Fire, Ice, Flying, Psychic]",NaN,"[{'num': '001', 'name': 'Bulbasaur'}, {'num': ..."
3,4,004,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,[Fire],0.61 m,8.5 kg,Charmander Candy,25.0,2 km,0.253,25.3,08:45,[1.65],"[Water, Ground, Rock]","[{'num': '005', 'name': 'Charmeleon'}, {'num':...",NaN
4,5,005,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,[Fire],1.09 m,19.0 kg,Charmander Candy,100.0,Not in Eggs,0.012,1.2,19:00,[1.79],"[Water, Ground, Rock]","[{'num': '006', 'name': 'Charizard'}]","[{'num': '004', 'name': 'Charmander'}]"

In [4]:
fObj = open(r'C:\Users\dudya\Downloads\pokedex.json')
jlist = json.load(fObj)
df = pd.json_normalize(jlist, record_path=['pokemon'])
df = df.explode('weaknesses')
df.head()

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution
0,1,001,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"[Grass, Poison]",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,0.690,69.0,20:00,[1.58],Fire,"[{'num': '002', 'name': 'Ivysaur'}, {'num': '0...",NaN
0,1,001,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"[Grass, Poison]",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,0.690,69.0,20:00,[1.58],Ice,"[{'num': '002', 'name': 'Ivysaur'}, {'num': '0...",NaN
0,1,001,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"[Grass, Poison]",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,0.690,69.0,20:00,[1.58],Flying,"[{'num': '002', 'name': 'Ivysaur'}, {'num': '0...",NaN
0,1,001,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"[Grass, Poison]",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,0.690,69.0,20:00,[1.58],Psychic,"[{'num': '002', 'name': 'Ivysaur'}, {'num': '0...",NaN
1,2,002,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"[Grass, Poison]",0.99 m,13.0 kg,Bulbasaur Candy,100.0,Not in Eggs,0.042,4.2,07:00,"[1.2, 1.6]",Fire,"[{'num': '003', 'name': 'Venusaur'}]","[{'num': '001', 'name': 'Bulbasaur'}]"

In [8]:
df=df.explode('weaknesses')  # Exploding the 'weaknesses' column to create separate rows for each weakness
df.head()

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution
0,1,001,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"[Grass, Poison]",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,0.690,69.0,20:00,[1.58],Fire,"[{'num': '002', 'name': 'Ivysaur'}, {'num': '0...",NaN
0,1,001,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"[Grass, Poison]",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,0.690,69.0,20:00,[1.58],Ice,"[{'num': '002', 'name': 'Ivysaur'}, {'num': '0...",NaN
0,1,001,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"[Grass, Poison]",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,0.690,69.0,20:00,[1.58],Flying,"[{'num': '002', 'name': 'Ivysaur'}, {'num': '0...",NaN
0,1,001,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"[Grass, Poison]",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,0.690,69.0,20:00,[1.58],Psychic,"[{'num': '002', 'name': 'Ivysaur'}, {'num': '0...",NaN
1,2,002,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"[Grass, Poison]",0.99 m,13.0 kg,Bulbasaur Candy,100.0,Not in Eggs,0.042,4.2,07:00,"[1.2, 1.6]",Fire,"[{'num': '003', 'name': 'Venusaur'}]","[{'num': '001', 'name': 'Bulbasaur'}]"

In [9]:
def get_nums(x):
    try:         # Try to create an iterator from x
        iterator = iter(x)
    except TypeError:         # If x is not iterable, return None
        return None
    else:         # If x is iterable, extract 'num' field from each element and return a list
        return [c['num'] for c in x]
    
fObj = open(r'C:\Users\dudya\Downloads\pokedex.json')
jlist = json.load(fObj)
df = pd.json_normalize(jlist, record_path=['pokemon'])

# This code will result in a DataFrame where the 'weaknesses', 'evolutions', and 'ancestors' columns,
# are expanded into separate columns using pd.Series. 
df['evolutions'] = df['next_evolution'].apply( lambda x: get_nums(x) )
df['ancestors'] = df['prev_evolution'].apply( lambda x: get_nums(x) )

# Extracting 'weaknesses', 'evolutions', 'ancestors' into separate columns using pd.Series
weaknesses = df['weaknesses'].apply( pd.Series )
evolutions = df['evolutions'].apply( pd.Series )
ancestors = df['ancestors'].apply( pd.Series )
weaknesses.head()

       0       1       2        3    4    5    6
0   Fire     Ice  Flying  Psychic  NaN  NaN  NaN
1   Fire     Ice  Flying  Psychic  NaN  NaN  NaN
2   Fire     Ice  Flying  Psychic  NaN  NaN  NaN
3  Water  Ground    Rock      NaN  NaN  NaN  NaN
4  Water  Ground    Rock      NaN  NaN  NaN  NaN

In [10]:
# renaming the columns of the 'weaknesses', 'evolutions', and 'ancestors' DataFrames
# by adding a prefix to each column name using the rename method and a lambda function.

weaknesses = weaknesses.rename(columns = lambda x: 'wk_' + str(x))
evolutions = evolutions.rename(columns = lambda x: 'ev_' + str(x))
ancestors = ancestors.rename(columns = lambda x: 'an_' + str(x))
weaknesses.head()

    wk_0    wk_1    wk_2     wk_3 wk_4 wk_5 wk_6
0   Fire     Ice  Flying  Psychic  NaN  NaN  NaN
1   Fire     Ice  Flying  Psychic  NaN  NaN  NaN
2   Fire     Ice  Flying  Psychic  NaN  NaN  NaN
3  Water  Ground    Rock      NaN  NaN  NaN  NaN
4  Water  Ground    Rock      NaN  NaN  NaN  NaN

In [11]:
# Making sure the columns merging on (left_index and right_index) are appropriate for data structure.
df = df.merge(weaknesses, left_index=True, right_index=True).merge(evolutions, left_index=True, right_index=True).merge(ancestors, left_index=True, right_index=True)
df.head()

,id,num,name,img,type,height,weight,candy,candy_count,egg,...,wk_2,wk_3,wk_4,wk_5,wk_6,ev_0,ev_1,ev_2,an_0,an_1
0,1,001,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"[Grass, Poison]",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,...,Flying,Psychic,NaN,NaN,NaN,002,003,NaN,NaN,NaN
1,2,002,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"[Grass, Poison]",0.99 m,13.0 kg,Bulbasaur Candy,100.0,Not in Eggs,...,Flying,Psychic,NaN,NaN,NaN,003,NaN,NaN,001,NaN
2,3,003,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"[Grass, Poison]",2.01 m,100.0 kg,Bulbasaur Candy,NaN,Not in Eggs,...,Flying,Psychic,NaN,NaN,NaN,NaN,NaN,NaN,001,002
3,4,004,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,[Fire],0.61 m,8.5 kg,Charmander Candy,25.0,2 km,...,Rock,NaN,NaN,NaN,NaN,005,006,NaN,NaN,NaN
4,5,005,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,[Fire],1.09 m,19.0 kg,Charmander Candy,100.0,Not in Eggs,...,Rock,NaN,NaN,NaN,NaN,006,NaN,NaN,004,NaN

In [12]:
# Here we are using boolean indexing to select rows from the DataFrame df where the index is an even number.
# The condition x.index % 2 == 0 checks if the index is even, and then df.iloc is used to select those rows. 

_evens = df.iloc[lambda x: x.index % 2 == 0]
_evens.head()

,id,num,name,img,type,height,weight,candy,candy_count,egg,...,wk_2,wk_3,wk_4,wk_5,wk_6,ev_0,ev_1,ev_2,an_0,an_1
0,1,001,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"[Grass, Poison]",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,...,Flying,Psychic,NaN,NaN,NaN,002,003,NaN,NaN,NaN
2,3,003,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"[Grass, Poison]",2.01 m,100.0 kg,Bulbasaur Candy,NaN,Not in Eggs,...,Flying,Psychic,NaN,NaN,NaN,NaN,NaN,NaN,001,002
4,5,005,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,[Fire],1.09 m,19.0 kg,Charmander Candy,100.0,Not in Eggs,...,Rock,NaN,NaN,NaN,NaN,006,NaN,NaN,004,NaN
6,7,007,Squirtle,http://www.serebii.net/pokemongo/pokemon/007.png,[Water],0.51 m,9.0 kg,Squirtle Candy,25.0,2 km,...,NaN,NaN,NaN,NaN,NaN,008,009,NaN,NaN,NaN
8,9,009,Blastoise,http://www.serebii.net/pokemongo/pokemon/009.png,[Water],1.60 m,85.5 kg,Squirtle Candy,NaN,Not in Eggs,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,007,008

In [13]:
df.iloc[1:3, 0:3]

# 1:3 selects rows with integer indices 1 and 2 (exclusive of 3).
# 0:3 selects columns with integer indices 0, 1, and 2.

   id  num      name
1   2  002   Ivysaur
2   3  003  Venusaur

In [14]:
slice_candies = df.loc[lambda df: df['candy_count'] > 30, ['name', 'candy_count', 'candy']]
slice_candies.head()

# lambda df: df['candy_count'] > 30 is a lambda function used as a condition. 
# It checks if the 'candy_count' column in the DataFrame is greater than 30.
# ['name', 'candy_count', 'candy'] specifies the columns to be selected: 'name', 'candy_count', and 'candy'.
# The loc method is then used to filter the rows based on the condition and select the specified columns. 
# The resulting DataFrame is stored in the variable slice_candies.

          name  candy_count             candy
1      Ivysaur        100.0   Bulbasaur Candy
4   Charmeleon        100.0  Charmander Candy
7    Wartortle        100.0    Squirtle Candy
10     Metapod         50.0    Caterpie Candy
13      Kakuna         50.0      Weedle Candy

In [15]:
df.loc[lambda df: np.isnan(df['candy_count']), ['candy_count']] = 0
df.head()

# The code df.loc[lambda df: np.isnan(df['candy_count']), ['candy_count']] = 0 
# is using label-based indexing with the loc method to replace NaN (Not a Number) 
# values in the 'candy_count' column with 0. This is achieved using the np.isnan function 
# to check for NaN values in the specified column.

# lambda df: np.isnan(df['candy_count']): A lambda function used as a condition to check if the 'candy_count' 
# column contains NaN values.
# ['candy_count']: Specifies the column where the replacement is applied.
# = 0: The assignment statement sets the NaN values in the specified column to 0.
# This is often done to handle missing or undefined values in the dataset by replacing them with a 
# default value (in this case, 0).

,id,num,name,img,type,height,weight,candy,candy_count,egg,...,wk_2,wk_3,wk_4,wk_5,wk_6,ev_0,ev_1,ev_2,an_0,an_1
0,1,001,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"[Grass, Poison]",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,...,Flying,Psychic,NaN,NaN,NaN,002,003,NaN,NaN,NaN
1,2,002,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"[Grass, Poison]",0.99 m,13.0 kg,Bulbasaur Candy,100.0,Not in Eggs,...,Flying,Psychic,NaN,NaN,NaN,003,NaN,NaN,001,NaN
2,3,003,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"[Grass, Poison]",2.01 m,100.0 kg,Bulbasaur Candy,0.0,Not in Eggs,...,Flying,Psychic,NaN,NaN,NaN,NaN,NaN,NaN,001,002
3,4,004,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,[Fire],0.61 m,8.5 kg,Charmander Candy,25.0,2 km,...,Rock,NaN,NaN,NaN,NaN,005,006,NaN,NaN,NaN
4,5,005,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,[Fire],1.09 m,19.0 kg,Charmander Candy,100.0,Not in Eggs,...,Rock,NaN,NaN,NaN,NaN,006,NaN,NaN,004,NaN

In [16]:
mean_candy_count = df['candy_count'].mean()
df.query('(index % 2 == 0) and (candy_count > @mean_candy_count)').head()

# query method is used to filter rows from the DataFrame df based on a specific condition.

# 'index % 2 == 0': This part of the query checks if the index is an even number.
# 'candy_count > @mean_candy_count': This part of the query checks if the 'candy_count' 
# column is greater than the mean value of 'candy_count'. The @ symbol is used to reference 
# the variable mean_candy_count.

,id,num,name,img,type,height,weight,candy,candy_count,egg,...,wk_2,wk_3,wk_4,wk_5,wk_6,ev_0,ev_1,ev_2,an_0,an_1
4,5,005,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,[Fire],1.09 m,19.0 kg,Charmander Candy,100.0,Not in Eggs,...,Rock,NaN,NaN,NaN,NaN,006,NaN,NaN,004,NaN
10,11,011,Metapod,http://www.serebii.net/pokemongo/pokemon/011.png,[Bug],0.71 m,9.9 kg,Caterpie Candy,50.0,Not in Eggs,...,Rock,NaN,NaN,NaN,NaN,012,NaN,NaN,010,NaN
16,17,017,Pidgeotto,http://www.serebii.net/pokemongo/pokemon/017.png,"[Normal, Flying]",1.09 m,30.0 kg,Pidgey Candy,50.0,Not in Eggs,...,NaN,NaN,NaN,NaN,NaN,018,NaN,NaN,016,NaN
20,21,021,Spearow,http://www.serebii.net/pokemongo/pokemon/021.png,"[Normal, Flying]",0.30 m,2.0 kg,Spearow Candy,50.0,2 km,...,NaN,NaN,NaN,NaN,NaN,022,NaN,NaN,NaN,NaN
22,23,023,Ekans,http://www.serebii.net/pokemongo/pokemon/023.png,[Poison],2.01 m,6.9 kg,Ekans Candy,50.0,5 km,...,NaN,NaN,NaN,NaN,NaN,024,NaN,NaN,NaN,NaN

In [17]:
samples = df.sample(frac=0.3, replace=True, random_state=42)
samples.head()

# df.sample(frac=0.3, replace=True, random_state=42) is using the sample method to randomly 
# select a fraction (30%) of rows from the DataFrame df.

# frac=0.3: Specifies the fraction of rows to be randomly sampled, in this case, 30% of the rows.
# replace=True: Indicates that sampling is done with replacement. If replace is set to False, 
# the same row cannot be sampled more than once.
# random_state=42: Provides a seed for the random number generator, ensuring reproducibility. 
# If you use the same random_state, you will get the same set of random samples each time you run the code.

,id,num,name,img,type,height,weight,candy,candy_count,egg,...,wk_2,wk_3,wk_4,wk_5,wk_6,ev_0,ev_1,ev_2,an_0,an_1
102,103,103,Exeggutor,http://www.serebii.net/pokemongo/pokemon/103.png,"[Grass, Psychic]",2.01 m,120.0 kg,Exeggcute Candy,0.0,Not in Eggs,...,Poison,Flying,Bug,Ghost,Dark,NaN,NaN,NaN,102,NaN
92,93,093,Haunter,http://www.serebii.net/pokemongo/pokemon/093.png,"[Ghost, Poison]",1.60 m,0.1 kg,Gastly Candy,100.0,Not in Eggs,...,Ghost,Dark,NaN,NaN,NaN,094,NaN,NaN,092,NaN
14,15,015,Beedrill,http://www.serebii.net/pokemongo/pokemon/015.png,"[Bug, Poison]",0.99 m,29.5 kg,Weedle Candy,0.0,Not in Eggs,...,Psychic,Rock,NaN,NaN,NaN,NaN,NaN,NaN,013,014
106,107,107,Hitmonchan,http://www.serebii.net/pokemongo/pokemon/107.png,[Fighting],1.40 m,50.2 kg,None,0.0,10 km,...,Fairy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,72,072,Tentacool,http://www.serebii.net/pokemongo/pokemon/072.png,"[Water, Poison]",0.89 m,45.5 kg,Tentacool Candy,50.0,5 km,...,Psychic,NaN,NaN,NaN,NaN,073,NaN,NaN,NaN,NaN